fastapi
uvicorn
langgraph
langchain
langchain-openai
python-dotenv
pymilvus
langchain-milvus
prometheus-client
pypdf
langchain-community
python-multipart
duckduckgo-search
langgraph-checkpoint-postgres
psycopg[binary]
langfuse
