# BFF 本地开发配置模板

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_DB=pediatric_ai_db

REDIS_HOST=localhost
REDIS_PORT=6379

BFF_PORT=3000
AI_ENGINE_URL=http://127.0.0.1:8000
BFF_PUBLIC_BASE_URL=http://127.0.0.1:3000
AI_ENGINE_INTERNAL_TOKEN=replace_with_shared_internal_token
ALLOWED_ORIGINS=http://127.0.0.1:10086,http://localhost:10086,http://127.0.0.1:3000

AES_SECRET_KEY=replace_with_local_aes_secret
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_with_local_private_key\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nreplace_with_local_public_key\n-----END PUBLIC KEY-----"

WX_APPID=replace_with_wechat_appid
WX_SECRET=replace_with_wechat_secret
